:root{
  --color-dark:#27292a;
  --color-darkest:#1f2122;
  --color-light:#fff;
  --color-purple:#ec6090;

}


body{
  background-color: var(--color-darkest);
}
ul{
  list-style-type: none;
}
a{
  text-decoration: none;
}